/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> 

@import "compass/reset";*/
/* line 10, ../sass/teacher-profile.scss */
*, *:before, *:after {
  -webkit-box-sizing: border-box;
  /* Safari/Chrome, other WebKit */
  -moz-box-sizing: border-box;
  /* Firefox, other Gecko */
  box-sizing: border-box;
  /* Opera/IE 8+ */
}

/* line 15, ../sass/teacher-profile.scss */
input {
  box-sizing: content-box;
}

/* line 47, ../sass/teacher-profile.scss */
.DnnModule {
  margin: 0;
}

/* line 50, ../sass/teacher-profile.scss */
#yas-dnncontent .yas-dnnrow .yas-marginlr {
  padding: 0;
}

/* line 54, ../sass/teacher-profile.scss */
body {
  padding: 0;
}

/* line 68, ../sass/teacher-profile.scss */
#ie7 .ya-teacher-profile .ya-left-column .ya-logo-watermark .ya-school-logo {
  width: 200px;
  margin-left: 50px;
}
/* line 75, ../sass/teacher-profile.scss */
#ie7 .ya-teacher-profile .ya-left-column .ya-social-icons .fs1 {
  margin: 0 5px 0 0;
}
/* line 83, ../sass/teacher-profile.scss */
#ie7 .ya-teacher-profile .ya-right-column .ya-photo-gallery .ya-gallery .ya-thumbnail {
  width: 44%;
}

/* line 92, ../sass/teacher-profile.scss */
#ie8 .ya-left-column .ya-white-panel, #ie7 .ya-left-column .ya-white-panel {
  padding-left: 0;
}

/* line 97, ../sass/teacher-profile.scss */
.ya-teacher-profile {
  padding: 10px;
}
/* line 99, ../sass/teacher-profile.scss */
.ya-teacher-profile .ya-stars .icon {
  color: #FECC0A;
}
/* line 100, ../sass/teacher-profile.scss */
.ya-teacher-profile .ya-content {
  background: #F4B327;
  /* Old browsers */
  background: linear-gradient(bottom, #ffffff 51%, #f4b323 86%, #f08e2d 99%);
  background: -o-linear-gradient(bottom, white 51%, #f4b323 86%, #f08e2d 99%);
  background: -moz-linear-gradient(bottom, white 51%, #f4b323 86%, #f08e2d 99%);
  background: -webkit-linear-gradient(bottom, white 51%, #f4b323 86%, #f08e2d 99%);
  background: -ms-linear-gradient(bottom, white 51%, #f4b323 86%, #f08e2d 99%);
  background: -webkit-gradient(linear, left bottom, left top, color-stop(0.51, white), color-stop(0.86, #f4b323), color-stop(0.99, #f08e2d));
  filter: progid:DXImageTransform.Microsoft.gradient(startColorStr=#f4b323, EndColorStr=#ffffff);
  /* IE6-9 */
  /*background:url('../img/bg-blue-gradient.png') repeat-x;*/
  -moz-border-radius: 15px 15px 0 0;
  -webkit-border-radius: 15px 15px 0 0;
  -ms-border-radius: 15px 15px 0 0;
  -o-border-radius: 15px 15px 0 0;
  border-radius: 15px 15px 0 0;
}
/* line 121, ../sass/teacher-profile.scss */
.ya-teacher-profile .ya-breadcrumb {
  float: left;
  margin-left: 2.12766%;
  width: 100.00002%;
  *width: 99.94682%;
}
/* line 43, ../sass/teacher-profile.scss */
.ya-teacher-profile .ya-breadcrumb:first-child {
  margin-left: 0;
}
/* line 123, ../sass/teacher-profile.scss */
.ya-teacher-profile .ya-breadcrumb ul {
  background: none;
  border: 0 none;
  margin: 0;
  padding: 15px 40px 0 40px;
}
/* line 129, ../sass/teacher-profile.scss */
.ya-teacher-profile .ya-breadcrumb ul li a, .ya-teacher-profile .ya-breadcrumb ul li .divider {
  text-shadow: 0 0 0;
  color: #ffffff;
}
/* line 131, ../sass/teacher-profile.scss */
.ya-teacher-profile .ya-breadcrumb ul .active {
  text-shadow: 0 0 0;
  color: #ffffff;
}
/* line 135, ../sass/teacher-profile.scss */
.ya-teacher-profile .ya-left-column {
  min-width: 250px;
  min-height: 429px;
  overflow: visible !important;
}
/* line 140, ../sass/teacher-profile.scss */
.ya-teacher-profile .ya-left-column .ya-logo-watermark {
  background: url("../img/bg-logo.png") no-repeat;
  position: absolute;
  width: 489px;
  height: 446px;
  margin: 0 0 0 -30px;
  z-index: 50;
}
/* line 147, ../sass/teacher-profile.scss */
.ya-teacher-profile .ya-left-column .ya-logo-watermark .ya-school-logo {
  margin: 0;
  border: 18px solid #F27022;
  margin: 59px 0 0 59px;
  width: 230px;
  overflow: hidden;
  -moz-border-radius: 100%;
  -webkit-border-radius: 100%;
  -ms-border-radius: 100%;
  -o-border-radius: 100%;
  border-radius: 100%;
  /*@media(max-width:767px){  width: 200px;  margin: 72px 0 0 75px;}*/
}
@media (max-width: 510px) {
  /* line 140, ../sass/teacher-profile.scss */
  .ya-teacher-profile .ya-left-column .ya-logo-watermark {
    background: url("../img/ya-pink-flower.png") no-repeat scroll 0 0/100% auto transparent;
    position: relative;
    padding: 40px;
    background-size: 100%;
    height: auto;
    left: 0;
    margin: auto;
    max-width: 270px;
    top: 0;
    width: auto;
  }
  /* line 165, ../sass/teacher-profile.scss */
  .ya-teacher-profile .ya-left-column .ya-logo-watermark .ya-school-logo {
    margin: 0;
    width: auto;
  }
}
/* line 169, ../sass/teacher-profile.scss */
.ya-teacher-profile .ya-left-column .ya-white-panel {
  background: white;
  margin: 375px 0 0;
  position: relative;
  padding-left: 30px;
  -webkit-box-shadow: 3px 1px 3px rgba(199, 199, 224, 0.8);
  -moz-box-shadow: 3px 1px 3px rgba(199, 199, 224, 0.8);
  box-shadow: 3px 1px 3px rgba(199, 199, 224, 0.8);
  -moz-border-radius: 0px 20px 20px 0;
  -webkit-border-radius: 0px 20px 20px 0;
  -ms-border-radius: 0px 20px 20px 0;
  -o-border-radius: 0px 20px 20px 0;
  border-radius: 0px 20px 20px 0;
}
/* line 177, ../sass/teacher-profile.scss */
.ya-teacher-profile .ya-left-column .ya-white-panel .ya-box {
  padding: 18px 15px;
}
/* line 179, ../sass/teacher-profile.scss */
.ya-teacher-profile .ya-left-column .ya-white-panel .ya-box .ya-title {
  color: #f37021;
  font-family: ProximaNova-Semibold;
  font-size: 20px;
  font-weight: normal;
  padding: 0 0 5px;
  line-height: normal;
  border-bottom: 1px solid #dcc298;
}
/* line 188, ../sass/teacher-profile.scss */
.ya-teacher-profile .ya-left-column .ya-white-panel .ya-box .ya-description {
  color: #5f6a72;
}
/* line 188, ../sass/teacher-profile.scss */
.ya-teacher-profile .ya-left-column .ya-white-panel .ya-box .ya-description p {
  margin: 0;
}
/* line 192, ../sass/teacher-profile.scss */
.ya-teacher-profile .ya-left-column .ya-white-panel .ya-yoga-taught ul, .ya-teacher-profile .ya-left-column .ya-white-panel .ya-languages ul {
  color: #5f6a72;
  margin: 0;
}
/* line 194, ../sass/teacher-profile.scss */
.ya-teacher-profile .ya-left-column .ya-white-panel .ya-yoga-taught ul li, .ya-teacher-profile .ya-left-column .ya-white-panel .ya-languages ul li {
  list-style-type: none;
  font-family: ProximaNova-SemiBold;
}
/* line 202, ../sass/teacher-profile.scss */
.ya-teacher-profile .ya-left-column .ya-white-panel .ya-contact-with-me .ya-social-icons .fs1 {
  font-size: 1.7em;
  color: #909090;
  display: inline;
}
/* line 208, ../sass/teacher-profile.scss */
.ya-teacher-profile .ya-left-column .ya-white-panel .ya-teacher-locations .ya-address {
  margin: 0 0 10px 0 !important;
}
/* line 211, ../sass/teacher-profile.scss */
.ya-teacher-profile .ya-left-column .ya-white-panel .ya-link {
  color: #1e398d;
}
/* line 216, ../sass/teacher-profile.scss */
.ya-teacher-profile .ya-middle-column {
  position: relative;
  z-index: 100;
  padding: 40px 0 0;
  font-family: ProximaNova-Regular;
  font-weight: normal;
}
/* line 221, ../sass/teacher-profile.scss */
.ya-teacher-profile .ya-middle-column .ya-column-center {
  padding: 0 0;
}
/* line 223, ../sass/teacher-profile.scss */
.ya-teacher-profile .ya-middle-column .ya-column-center .ya-address {
  color: #000;
}
/* line 229, ../sass/teacher-profile.scss */
.ya-teacher-profile .ya-middle-column .ya-column-center .ya-column-center-box {
  padding: 0 15px;
}
/* line 232, ../sass/teacher-profile.scss */
.ya-teacher-profile .ya-middle-column .ya-column-center .ya-about-container {
  margin: 0 0 60px 0;
}
/* line 236, ../sass/teacher-profile.scss */
.ya-teacher-profile .ya-middle-column .ya-column-center .ya-about-container .ya-about-active {
  background: #f09324;
  /* Old browsers */
  background: linear-gradient(bottom, #f8c45b 26%, #f4ac19 50%, #f09324 82%);
  background: -o-linear-gradient(bottom, #f8c45b 26%, #f4ac19 50%, #f09324 82%);
  background: -moz-linear-gradient(bottom, #f8c45b 26%, #f4ac19 50%, #f09324 82%);
  background: -webkit-linear-gradient(bottom, #f8c45b 26%, #f4ac19 50%, #f09324 82%);
  background: -ms-linear-gradient(bottom, #f8c45b 26%, #f4ac19 50%, #f09324 82%);
  background: -webkit-gradient(linear, left bottom, left top, color-stop(0.26, #f8c45b), color-stop(0.5, #f4ac19), color-stop(0.82, #f09324));
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f09324', endColorstr='#f8c45b',GradientType=0 );
  /* IE6-9 */
  border: 1px solid #F27022;
  -moz-border-radius: 7px;
  -webkit-border-radius: 7px;
  -ms-border-radius: 7px;
  -o-border-radius: 7px;
  border-radius: 7px;
  margin: 0 0 15px;
}
/* line 258, ../sass/teacher-profile.scss */
.ya-teacher-profile .ya-middle-column .ya-column-center .ya-about-container-active {
  margin: 0 0 50px;
}
/* line 262, ../sass/teacher-profile.scss */
.ya-teacher-profile .ya-middle-column .ya-column-center .ya-teaching-experience .ya-badge {
  margin: 10px 0 0 0;
}
/* line 263, ../sass/teacher-profile.scss */
.ya-teacher-profile .ya-middle-column .ya-column-center .ya-teaching-experience .ya-row {
  margin: 0 0 15px 0;
}
/* line 268, ../sass/teacher-profile.scss */
.ya-teacher-profile .ya-middle-column a {
  font-family: ProximaNova-Semibold;
}
/* line 269, ../sass/teacher-profile.scss */
.ya-teacher-profile .ya-middle-column a i {
  font-size: 25px;
  line-height: normal;
  margin: -5px 5px 0 0;
}
/* line 272, ../sass/teacher-profile.scss */
.ya-teacher-profile .ya-middle-column .prev-exp {
  display: inline-block;
}
/* line 277, ../sass/teacher-profile.scss */
.ya-teacher-profile .ya-right-column {
  padding: 0 0px 0;
}
/* line 278, ../sass/teacher-profile.scss */
.ya-teacher-profile .ya-right-column .ya-right-box {
  margin: 0 15px 25px;
}
/* line 280, ../sass/teacher-profile.scss */
.ya-teacher-profile .ya-right-column .ya-logo-box-container {
  /*border-left: 1px solid $grey2;  */
  border-bottom: 1px solid #DCC298;
  padding: 0 0 15px;
}
/* line 284, ../sass/teacher-profile.scss */
.ya-teacher-profile .ya-right-column .ya-logo-box-container .ya-logo-box {
  background: #f09324;
  /* Old browsers */
  background: linear-gradient(bottom, #f8c45b 26%, #f4ac19 50%, #f09324 82%);
  background: -o-linear-gradient(bottom, #f8c45b 26%, #f4ac19 50%, #f09324 82%);
  background: -moz-linear-gradient(bottom, #f8c45b 26%, #f4ac19 50%, #f09324 82%);
  background: -webkit-linear-gradient(bottom, #f8c45b 26%, #f4ac19 50%, #f09324 82%);
  background: -ms-linear-gradient(bottom, #f8c45b 26%, #f4ac19 50%, #f09324 82%);
  background: -webkit-gradient(linear, left bottom, left top, color-stop(0.26, #f8c45b), color-stop(0.5, #f4ac19), color-stop(0.82, #f09324));
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f09324', endColorstr='#f8c45b',GradientType=0 );
  /* IE6-9 */
  /*min-height: 260px;*/
  padding: 15px 5px;
  text-align: center;
  width: 100%;
}
/* line 308, ../sass/teacher-profile.scss */
.ya-teacher-profile .ya-right-column .ya-logo-box-container .ya-logo-box img {
  padding: 4px;
  height: 92px;
}
/* line 310, ../sass/teacher-profile.scss */
.ya-teacher-profile .ya-right-column .ya-logo-box-container .ya-logo-box span {
  color: #ffffff;
  font-family: ProximaNova-Semibold;
  margin: 10px 0 0;
  display: block;
}
/* line 311, ../sass/teacher-profile.scss */
.ya-teacher-profile .ya-right-column .ya-logo-box-container .ya-logo-box .ya-value {
  color: #f3efeb;
  font-size: 25px;
  font-family: ProximaNova-Semibold;
}
/* line 312, ../sass/teacher-profile.scss */
.ya-teacher-profile .ya-right-column .ya-logo-box-container .ya-logo-box .ya-label {
  font-size: 16px;
  font-family: ProximaNova-Regular;
}
/* line 319, ../sass/teacher-profile.scss */
.ya-teacher-profile .ya-right-column .ya-photo-gallery .ya-gallery {
  width: 100%;
  *zoom: 1;
}
/* line 15, ../sass/bootstrap/_mixins.scss */
.ya-teacher-profile .ya-right-column .ya-photo-gallery .ya-gallery:before, .ya-teacher-profile .ya-right-column .ya-photo-gallery .ya-gallery:after {
  display: table;
  content: "";
  line-height: 0;
}
/* line 22, ../sass/bootstrap/_mixins.scss */
.ya-teacher-profile .ya-right-column .ya-photo-gallery .ya-gallery:after {
  clear: both;
}
/* line 321, ../sass/teacher-profile.scss */
.ya-teacher-profile .ya-right-column .ya-photo-gallery .ya-gallery .ya-thumbnail {
  float: left;
  margin-left: 0%;
  width: 48.93618%;
  *width: 48.88298%;
  padding: 5px;
  border: 1px solid #dcc298;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
  margin: 1px;
}
/* line 43, ../sass/teacher-profile.scss */
.ya-teacher-profile .ya-right-column .ya-photo-gallery .ya-gallery .ya-thumbnail:first-child {
  margin-left: 0;
}
/* line 323, ../sass/teacher-profile.scss */
.ya-teacher-profile .ya-right-column .ya-photo-gallery .ya-button-row {
  text-align: center;
  margin: 10px 0 0 0;
}
/* line 326, ../sass/teacher-profile.scss */
.ya-teacher-profile .ya-page-title, .ya-teacher-profile .ya-middle-column .ya-column-center p {
  color: white;
}
/* line 329, ../sass/teacher-profile.scss */
.ya-teacher-profile .ya-page-title-medium {
  color: #5f6a72;
  font-family: ProximaNova-SemiBold;
  font-weight: normal;
  font-size: 20px;
  border-bottom: 1px solid #dcc298;
  line-height: normal;
  padding: 0 0 5px;
}
/* line 337, ../sass/teacher-profile.scss */
.ya-teacher-profile .ya-orange-btn {
  background: #ff9814;
  font-family: ProximaNova-Regular;
  font-size: 14px;
  color: white;
  text-shadow: 0 0 0;
  border: 0 none;
  -webkit-box-shadow: 0 1px 2px rgba(119, 119, 224, 0.5);
  -moz-box-shadow: 0 1px 2px rgba(119, 119, 224, 0.5);
  box-shadow: 0 1px 2px rgba(119, 119, 224, 0.5);
  margin: 8px 0 10px;
}
/* line 338, ../sass/teacher-profile.scss */
.ya-teacher-profile .ya-orange-btn .fs1 {
  float: left;
  padding: 0 10px 0 0;
  font-size: 1.3em;
}
/* line 347, ../sass/teacher-profile.scss */
.ya-teacher-profile .ya-bold {
  font-weight: bold;
}
/* line 348, ../sass/teacher-profile.scss */
.ya-teacher-profile .ya-italic {
  font-style: italic;
}
/* line 350, ../sass/teacher-profile.scss */
.ya-teacher-profile .ya-logo-box-tablet {
  background: #f09324;
  /* Old browsers */
  background: linear-gradient(bottom, #f8c45b 26%, #f4ac19 50%, #f09324 82%);
  background: -o-linear-gradient(bottom, #f8c45b 26%, #f4ac19 50%, #f09324 82%);
  background: -moz-linear-gradient(bottom, #f8c45b 26%, #f4ac19 50%, #f09324 82%);
  background: -webkit-linear-gradient(bottom, #f8c45b 26%, #f4ac19 50%, #f09324 82%);
  background: -ms-linear-gradient(bottom, #f8c45b 26%, #f4ac19 50%, #f09324 82%);
  background: -webkit-gradient(linear, left bottom, left top, color-stop(0.26, #f8c45b), color-stop(0.5, #f4ac19), color-stop(0.82, #f09324));
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f09324', endColorstr='#f8c45b',GradientType=0 );
  /* IE6-9 */
  padding: 15px 10px  15px 10px;
  display: none;
}
/* line 368, ../sass/teacher-profile.scss */
.ya-teacher-profile .ya-logo-box-tablet .ya-value {
  color: #f3efeb;
  font-size: 25px;
  font-family: ProximaNova-Semibold;
}
/* line 369, ../sass/teacher-profile.scss */
.ya-teacher-profile .ya-logo-box-tablet .ya-label {
  font-size: 16px;
  font-family: ProximaNova-Regular;
}
/* line 377, ../sass/teacher-profile.scss */
.ya-teacher-profile .ya-logo-box-tablet img {
  display: block;
  margin: 0 0 10px 0;
}
/* line 378, ../sass/teacher-profile.scss */
.ya-teacher-profile .ya-logo-box-tablet span {
  display: block;
  font-family: ProximaNova-Semibold;
  color: #ffffff;
}

/* end school profile*/
/* line 385, ../sass/teacher-profile.scss */
a {
  color: #96171a;
}

/* line 386, ../sass/teacher-profile.scss */
a:hover, a:focus {
  color: #96171a;
}

/* line 390, ../sass/teacher-profile.scss */
.content-navigation {
  border-color: #3bbfdd;
  color: #23a9c7;
}

/* line 396, ../sass/teacher-profile.scss */
.border {
  padding: 8px;
  margin: 8px;
  border-color: #3bbfdd;
}

/*******media queries******/
/* Large desktop */
@media (min-width: 1200px) {
  /*body{background:red;}*/
  /* line 408, ../sass/teacher-profile.scss */
  .ya-teacher-profile .ya-left-column .ya-white-panel {
    margin: 375px 0 0 -40px;
    width: 291px;
    *width: 261px;
  }
}
@media (min-width: 980px) and (max-width: 1199px) {
  /* line 426, ../sass/teacher-profile.scss */
  .ya-teacher-profile .ya-left-column .ya-white-panel {
    margin: 375px 0 0 -40px;
    width: 291px;
  }
  /* line 430, ../sass/teacher-profile.scss */
  .ya-teacher-profile .ya-middle-column {
    width: 65%;
  }
  /* line 432, ../sass/teacher-profile.scss */
  .ya-teacher-profile .ya-middle-column .ya-column-center {
    width: 100%;
  }
  /* line 433, ../sass/teacher-profile.scss */
  .ya-teacher-profile .ya-middle-column .ya-right-column {
    width: 100%;
  }
  /* line 435, ../sass/teacher-profile.scss */
  .ya-teacher-profile .ya-right-column {
    padding: 0;
  }
  /* line 437, ../sass/teacher-profile.scss */
  .ya-teacher-profile .ya-right-column .ya-right-box {
    margin: 0 15px 25px 0;
  }
  /* line 438, ../sass/teacher-profile.scss */
  .ya-teacher-profile .ya-right-column .ya-logo-box-container {
    display: none;
  }
  /* line 443, ../sass/teacher-profile.scss */
  .ya-teacher-profile .ya-logo-box-tablet {
    display: block;
    text-align: center;
  }
  /* line 446, ../sass/teacher-profile.scss */
  .ya-teacher-profile .ya-logo-box-tablet img {
    display: inline-block;
  }
}
/* Portrait tablet to landscape and desktop */
@media (min-width: 768px) and (max-width: 979px) {
  /*body{background:green;}*/
  /* line 458, ../sass/teacher-profile.scss */
  .ya-teacher-profile .ya-left-column .ya-white-panel {
    margin: 375px 0 0 -40px;
    width: 291px;
  }
  /* line 462, ../sass/teacher-profile.scss */
  .ya-teacher-profile .ya-middle-column {
    width: 58%;
  }
  /* line 464, ../sass/teacher-profile.scss */
  .ya-teacher-profile .ya-middle-column .ya-column-center {
    width: 100%;
  }
  /* line 465, ../sass/teacher-profile.scss */
  .ya-teacher-profile .ya-middle-column .ya-column-center .ya-about-container {
    margin: 0 0 30px;
  }
  /* line 467, ../sass/teacher-profile.scss */
  .ya-teacher-profile .ya-middle-column .ya-right-column {
    width: 100%;
  }
  /* line 469, ../sass/teacher-profile.scss */
  .ya-teacher-profile .ya-right-column {
    padding: 0;
  }
  /* line 471, ../sass/teacher-profile.scss */
  .ya-teacher-profile .ya-right-column .ya-right-box {
    margin: 0 15px 25px 0;
  }
  /* line 472, ../sass/teacher-profile.scss */
  .ya-teacher-profile .ya-right-column .ya-logo-box-container {
    display: none;
  }
  /* line 477, ../sass/teacher-profile.scss */
  .ya-teacher-profile .ya-logo-box-tablet {
    display: block;
    text-align: center;
  }
  /* line 480, ../sass/teacher-profile.scss */
  .ya-teacher-profile .ya-logo-box-tablet img {
    display: inline-block;
  }
}
/* Landscape phone to portrait tablet */
@media (max-width: 767px) {
  /*body{background:blue;}*/
  /* line 494, ../sass/teacher-profile.scss */
  .ya-teacher-profile .ya-left-column {
    min-height: 300px;
  }
  /* line 495, ../sass/teacher-profile.scss */
  .ya-teacher-profile .ya-left-column .ya-white-panel {
    display: none;
  }
  /* line 500, ../sass/teacher-profile.scss */
  .ya-teacher-profile .ya-middle-column {
    padding: 0;
  }
  /* line 503, ../sass/teacher-profile.scss */
  .ya-teacher-profile .ya-middle-column .ya-column-center .ya-about-container {
    margin: 0 0 30px;
  }
  /* line 508, ../sass/teacher-profile.scss */
  .ya-teacher-profile .ya-right-column {
    padding: 0;
  }
  /* line 511, ../sass/teacher-profile.scss */
  .ya-teacher-profile .ya-right-column .ya-logo-box-container {
    display: none;
  }
  /* line 516, ../sass/teacher-profile.scss */
  .ya-teacher-profile .ya-logo-box-tablet {
    display: block;
    text-align: center;
  }
  /* line 517, ../sass/teacher-profile.scss */
  .ya-teacher-profile .ya-logo-box-tablet img {
    display: inline-block;
  }
}
/* Landscape phones and down */
@media (max-width: 480px) {
  /*body{background:teal;}*/
}
